<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="./css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <title>Mercadoliebre</title>
</head>

<body style="margin: 0px 0px 0px 0px;">

  <header> 
      <div class="row">
        <a href="/"><img class="logo" src="./images/logo-mercado-liebre.svg" alt="No image"></a>
        <div class="row" id="input">
          <input class="search" type="text" name="input" placeholder="Buscar productos..." size="50">
          <div class="search-ico"><i class="fas fa-search" style="margin: 8px;"></i></div>
        </div>
        <nav>
          <ul class="nav-menu-list">
            <li><a href="#">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
            <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i> </a></li>
            <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
          </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars" style="margin: 6px;"></i>
        </div>
      </div>

      <div class="row">
        <nav>
          <ul class="nav-menu-list">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
        </nav>
      </div>

      <span class="text-nav"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</span>
  </header>

    <div class="banner" >
        <img style="width: 100%;" src="./images/img-home-banner.jpg" alt="#">
    </div>

  <h2 style="font-size: 24px;">Basado en tu ultima visita: </h2>
  
  <main>
      <div class="card">
        <div class="images">
          <img src="./images/img-cafetera-moulinex.jpg">
        </div>
        <div class="article">
          <div><i class="fas fa-truck"></i></div>
          <span class="price">$6.770</span>
          <span style="color: green;">40% off</span>
          <span class="name-art">Cafetera Moulinex</span>
        </div>
      </div>

      <div class="card">
        <div class="images">
          <img src="./images/img-macbook-pro-2019.jpg">
        </div>
        <div class="article">
          <div><i class="fas fa-truck"></i></div>
          <span class="price">$230.000</span>
          <span style="color: green;">20% off</span>
          <span class="name-art">MacBook Pro 2019</span> 
        </div>
      </div>

      <div class="card">
        <div class="images">
          <img src="./images/img-samsung-galaxy-s10.jpg">
        </div>
        <div class="article">
          <div><i class="fas fa-truck"></i></div>
          <span class="price">$70.500</span>
          <span style="color: green;">10% off</span>
          <span class="name-art">Samsung Galaxy S10</span> 
        </div>
      </div>

      
      <div class="card">
        <div class="images">
          <img src="./images/img-tv-samsung-smart.jpg">
        </div>
        <div class="article">
          <div><i class="fas fa-truck"></i></div>
          <span class="price">$23.200</span>
          <span style="color: green;">5% off</span>
          <span class="name-art">SmartTv Samsung 43"</span>
        </div>
      </div>

  </main>

  <footer> 

    <div class="row" id="footer" style="margin-top: 5%;">
      <div class="column">
        <div class="footer-ico"><i class="fas fa-credit-card"></i></div>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
          puntos de pago. ¡Y siempre es seguro!
        </p>
      </div>
      <div class="column">
        <div class="footer-ico"><i class="fas fa-gift"></i></div>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
          productos. Es un beneficio de Mercado Puntos.</p>
      </div>
      <div class="column">
        <div class="footer-ico"><i class="fas fa-user-shield"></i></div>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
          porque estás siempre protegid@.</p>
      </div>
    </div>
    
    Copyright © 1999-2020 MercadoLiebre S.R.L.
    
    
    

  </footer>
  
</body>
</html>