<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="./css/login_styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <title>Registrate</title>
</head>

  <body style="margin: 0px 0px 0px 0px;">
    <header> 
        <div class="row">
            <div class="nav-col">
              <a href="/"><img class="logo" src="./images/logo-mercado-liebre.svg" alt="No image"></a>
            </div>

           <div class="nav-col" id="text">
              <div class="row">
                <span class="text-nav"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</span>
              </div>
            </div>
        </div>
    </header>

    <section class="card">
      <form action="/">
        <div>
          <h1>¡Hola! ingresá tu e‑mail o usuario</h1>
        </div>
        <section class="row-box">
          <div class="col">
            <label><span>Email o nombre de usuario</span></label>
            <input type="text" placeholder="E-mail o Usuario" required>
          </div>
        </section>

        <section class="row-box">
          <div class="col">
            <label><span>Contraseña</span></label>
            <input type="password" placeholder="Contraseña" required>
          </div>
        </section>

        <div class="row-btn">
          <button class="btn" type="submit">Continuar</button>
        </div>
        <div class="btn-register">
          <a href="/register" class="btn-register">Crear cuenta</a>
        </div>
        
      </form>

    </section>

</body>

</html>