body {
  font-family: 'Roboto', sans-serif;
  background-color: #ededed;
}


form{
  width: 40%;
  margin: 0 auto;
}

.register{
  display: flex;
  align-items: center;
  height: 55em;
}

.row-box{
  display: flex;
  margin-top: 15px;
}


.col{
  display: flex;
  flex-direction: column;
  flex: 45%;
}

input[type=text]#adress{
  width: 96%;
}

input[type=text],
input[type=password]{
  width: 90%;
  border: none;
  border: solid 1px #ccc;
  border-radius: 5px;
}

input[type="date" i], 
input[type="email"]{
  width: 80%;
  padding: 12px 20px;
  border: none;
  border: solid 1px #ccc;
  border-radius: 5px;
}

input:focus{
  border: solid 2px #3483fa;
  padding: 10px 20px;
}


.title{
  padding-bottom: 8px;
  padding-top: 8px;
}

input#seller{
  margin-right: 45px;
}

.interests-box{
  display: flex;
}

.row-btn{
  display: flex;
  justify-content: center;
}

.btn{
  margin-top: 10%;
  margin-bottom: 10%;
  border: none;
  border-radius: 5px;
  font-family: 'Roboto';
  font-size: 18px;
  color: white;
  background-color: #3483fa;
  height: 40px;
  width: 50%;
}


@media (max-width: 769px) {

  .register{
    display: flex;
    align-items: center;
  }

  form{
    width: 90%;
  }

  input[type="date" i], 
  input[type="email"]{
    width: 80%;
    padding: 12px 10px;
  }

  input#seller{
    margin-bottom: 10px;
  }

  .col#check-box{
    flex: 55%;
  }

}

@media (min-width: 486px) {
  input#seller{
    margin-bottom: 0px;
    margin-right: 8px;
  }
}

@media (max-width: 486px) {
  .col#check-box{
    flex: 56%;
  }
}