body {
  min-height: 100vh;
  min-width: 100vh;
  font-family: 'Roboto', sans-serif;
}

header{
background-color: #fff159;
width: 100%;
height: 120px;
}

.logo{
  width: 200px;
}

.search{
  border-radius: 2px;
  height: 35px;
  border: none;
  box-shadow: 1px 1px 5px #888888;
}

.search-ico{
  background-color: white;
  text-align: center;
  width: 40px;
  height: 35px;
  box-shadow: 1px 1px 5px #888888;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input:focus{
  outline: none;
}

.banner{
  width: 100%;
}


main{
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.column {
  float: left;
  width: 15%;
  text-align: center;
}

.row{

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.price{
  font-size: 18px;
}

.burger-menu{
  border-radius: 3px;
  text-align: center;
  width: 40px;
  height: 30px;
  color:white;
  background-color: #3483fa;
}

.footer-ico{
  font-size: 2em;
  color:#3483fa;
}
